# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

## __Objectives:__
- Introduction
- Data Science Languages
- Data Science Libraries
- Data Science Tools
- Python Arithmetic Examples

## Some of the popular languages that Data Scientists use are:
1. R.
2. Python
3. Javascript
4. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow.
2. Pandas
3. SciPy
4. NumPy

| Data Science Tools |
  --------------------
   | Apache Hadoop |
   | RStudio.      |
   | Apache Spark. |
   | TensorFlow    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Matthew Doolittle